<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        /* input type = number에서 화살표 제거 */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <title>상품 등록</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 등록</h2>
    </div>
<!--    <h4 class="mb-3">상품 입력</h4>-->
    <form action="saveNewProductForm.html"
          th:action
          method="post">
        <div>
            <label for="name">상품명</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="" required>
        </div>
        <div>
            <label for="price">가격</label>
            <input type="number" id="price" name="price" class="form-control" placeholder="" required>
        </div>
        <div>
            <label for="description">설명</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="" required>
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="number" id="quantity" name="quantity" class="form-control" placeholder="" required>
        </div>
        <div>
            <label for="seller">판매자</label>
            <input type="text" id="seller" name="seller" class="form-control" placeholder="" required>
        </div>
        <div>
            <label for="category">카테고리</label>
            <input type="text" id="category" name="category" class="form-control" placeholder="" required>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='products.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div><!-- /container -->
</body>
</html>