<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}"
        rel="stylesheet">
  <title>상품 상세</title>
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>회원가입</h2>
  </div>
  <form action="/member/register"
        th:action
        method="post">
    <div>
      <label for="email">이메일</label>
      <input type="text" id="email" name="email" class="form-control">
    </div>
    <div>
      <label for="id">아이디</label>
      <input type="text" id="id" name="id" class="form-control">
    </div>
    <div>
      <label for="pw">비밀번호</label>
      <input type="text" id="pw" name="pw" class="form-control">
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" name="name" class="form-control">
    </div>
    <div>
      <label for="contact">전화번호</label>
      <input type="text" id="contact" name="contact" class="form-control">
    </div>
    <div>
      <label for="dob">생년월일(yyyy-mm-dd)</label>
      <input type="text" id="dob" name="dob" class="form-control">
    </div>
    <div>
      <label for="gender">성별</label>
      <input type="text" id="gender" name="gender" class="form-control">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='index.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">취소</button>
      </div>
    </div>
  </form>
</div><!-- /container -->
</body>
</html>
