<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
  <title>회원 조회</title>
</head>
<!--어드민 페이지-->
<body>
  <div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
      <h2>회원 조회</h2>  
    </div>
    <button type="button" th:onclick="|location.href='@{/}'|">홈으로</button>
    <hr class="my-4">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>아이디</th>
          <th>이메일</th>
          <th>성명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.user_no}">#</td>
          <td><a href="users.html" th:text="${user.id}" th:href="@{|/user/list/${user.id}|}">아이디</a></td>
          <td th:text="${user.email}">이메일</td>
          <td th:text="${user.name}">성명</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
