<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.whatproject.mapper.MyMapper">

    <insert id="saveUser" parameterType="myproject.whatproject.domain.user.User">
        INSERT INTO USER (email, id, pw, name, contact, dob, gender)
        VALUES (#{email}, #{id}, #{pw}, #{name}, #{contact}, #{dob}, #{gender})
    </insert>

    <select id="findAllUser" resultType="myproject.whatproject.domain.user.User">
        SELECT * FROM USER
    </select>

    <select id="findUserById" parameterType="string" resultType="myproject.whatproject.domain.user.User">
        SELECT * FROM USER WHERE id = #{userId}
    </select>

    <select id="findUserByEmail" parameterType="string" resultType="myproject.whatproject.domain.user.User">
        SELECT * FROM USER WHERE id = #{userEmail}
    </select>

    <select id="userVerify" resultType="string" parameterType="string">
        SELECT pw FROM USER WHERE id = #{userId}
    </select>

    <update id="changeUserPw" parameterType="string">
        UPDATE USER SET pw = #{changePw} WHERE id = #{userId}
    </update>

    <insert id="saveProduct" parameterType="myproject.whatproject.domain.product.Product">
        INSERT INTO PRODUCT (name, price, description, quantity, seller, category)
        VALUES (#{name}, #{price}, #{description}, #{quantity}, #{seller}, #{category})
    </insert>

    <select id="listAllProduct" resultType="myproject.whatproject.domain.product.Product">
        SELECT * FROM PRODUCT
    </select>

    <select id="findProductByNum" parameterType="string" resultType="myproject.whatproject.domain.product.Product">
        SELECT * FROM PRODUCT WHERE product_no = #{product_no}
    </select>

</mapper>
